:root {
  --main-bg-color: rgba(240, 240, 240, 0.938);
}

body {
  background-color: var(--main-bg-color);
}

#page-wrapper {
  display: grid;
}

#header-img {
  width: 300px;
  height: 35px;
}

@media (min-width: 770px) {
  #header {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "company-logo navbar";
  }

  li {
    list-style: none;
    margin-right: 80px;
  }
}

@media (max-width: 770px) {
  #header {
    margin-top: 10px;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "company-logo"
      "navbar";
  }

  li {
    list-style: none;
    margin-right: 40px;
  }
}

@media (max-width: 1270px) {
  li {
    list-style: none;
    margin-right: 40px;
  }
}

#nav-bar {
  grid-area: navbar;
}

#logo {
  grid-area: company-logo;
}

#nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
